body
{
overflow-x:hidden;
width:100%;
font: 15px "Century Gothic", "Times Roman", sans-serif;
background:#eee;
height:100%;
background-attachment:fixed; 
background:url(../image/new12.jpg)no-repeat center center fixed;    
}
